@import "src/styles/vars.scss";

.wrapper {
  //position: relative;
  display: flex;
  align-items: center;
  color: #E4E5EA;
  width: 100vw;

  @include screen-1440 {
    width: 1140px;
    height: 73px;
    padding-top: 46px;
    justify-content: space-between;

  }
  @include screen-320 {
    width: 320px;
    height: 55px;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    .certs {
      display: none;
    }
  }
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: right;
  gap: 10px;
  font-family: Montserrat, serif;
  font-size: 10px;
  font-weight: 300;

  @include screen-320 {
    display: none;
  }

  span {
    width: 140px;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    text-align: left;
  }
}

.center ul {
  display: flex;
  font-family: Inter, serif;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  width: 503px;
  justify-content: space-between;

  li {
    cursor: pointer;
    display: flex;
    margin-right: 8px;
  }

  @include screen-320 {
    display: flex;
    text-transform: uppercase;
    width: fit-content;
    font-size: 14px;
  }
}

.right {
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;

  @include screen-320 {
    display: none;
  }
}

.contacts {
  position: relative;
  display: flex;
  gap: 20px;
}

.tel {
  margin-right: 47px;
}