@import "normalize";


*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  height: 100%;
  background: #000;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner {
  border: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}



//.purple_light{
//  position: absolute;
//  //background: #833AB4;
//  //width: 259px;
//  //height: 259px;
//  //left: 602px;
//  //opacity: 0.5px;
//}
