@import "src/styles/vars.scss";


.wrapper {
  display: flex;
  justify-content: space-between;
  height: 445px;
  color: white;

  @include screen-320 {
    flex-direction: column;
    justify-content: unset;
    width: auto;
    height: 451px;
    background-image: url('../../../../public/bg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  //margin-top: 209px;
  font-family: Inter, serif;

  @include screen-320 {
    margin-top: 55px;
  }

  h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    width: 362px;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;

    @include screen-320 {
      font-size: 36px;
      font-weight: 900;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;
    }

    @include screen-320 {
      font-size: 36px;
      font-weight: 400;
      line-height: 44px;
      text-align: left;
      width: 272px;
    }

  }

  p {
    width: 275px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 30px;

    @include screen-320 {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      height: 44px;
      margin-top: 15px;
    }
  }

}

.right {
  margin-top: 224px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-family: Inter, serif;

  .right_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: right;
    width: 291px;
    margin-bottom: 40px;

    span {
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      text-align: right;
      background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


.columns {
  display: flex;
}

.left_column {
  flex: 1 1 50%;
  margin-right: 30px;

}

.right_column {
  flex: 1 1 50%;
}

.columns > .left_column > div,
.columns > .right_column > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.columns > .left_column > div > p,
.columns > .left_column > div > span,
.columns > .right_column > div > p,
.columns > .right_column > div > span {
  text-align: right;
  align-self: flex-end;
  width: 150px;
}

.columns > .left_column > div > p,
.columns > .right_column > div > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.05em;
  align-self: flex-end;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.columns > .left_column > div > span,
.columns > .right_column > div > span {
  color: #E4E5EA;
}

.button {
  display: flex;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  background: #4077F3;
  color: #E4E5EA;
  width: 262px;
  height: 61px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include screen-320 {
    display: none;
  }
}

//320 px
.grid_container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.column {
  flex: 1;
  color: #E4E5EA;

  p {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    cursor: pointer;
    &::before {
      content: "-";
      margin-right: 5px;
      background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

}



//@include screen-320 {
//  align-self: flex-start;
//  //width: 120px;
//  height: 16px;
//  //left: 16px;
//

//}