@import "src/styles/vars.scss";


.wrapper {
  font-family: Inter, sans-serif;
  padding-top: 25px;
  padding-bottom: 10px;
  display: flex;
  height: 315px;
  justify-content: space-between;
  margin-top: 130px;
  color: #E4E5EA;
  font-size: 14px;


  @include screen-320 {
    flex-direction: column;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }

  p {
    color: #656566;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include screen-320{
      margin-top: 20px;
      font-size: 12px;
    }
  }

  li {
    color: #E4E5EA;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 10px;

    @include screen-320{
      font-size: 12px;
    }
  }

  span {
    color: #E4E5EA;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: right;
  }
}

.left {
}

.center {
}

.columns {
  display: flex;
  gap: 52px;

  @include screen-320{
    gap: 20px;
  }
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;

  @include screen-320 {
    align-items: flex-start
  }

  ul, li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include screen-320 {
      align-items: flex-start;
    }
  }
}

.icons {
  display: flex;
  gap: 10px;
}

.text_mini {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  @include screen-320{
    margin-top: 45px;
    margin-bottom: 45px;
    align-items: flex-start;
  }
}


